* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: auto;
}

ul {
    list-style: none;
    width: 100%;
}

.logo-login {
    display: flex;
    align-items: center;
}

.logo-login img {
    width: 500px;
    margin: -110px -60px;
}

.logo-login div {
    display: flex;
    justify-content: right;
    width: 100%;
}

.logo-login div li {
    margin-right: 50px;
    padding: 7px 10px;

    background-color: lightgrey;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
}

.apresentation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 88.5vh;
}

.apresentation li:first-child {
    font-size: 75px;
    font-weight: bold;
}

.apresentation li:nth-child(2) {
    font-size: 35px;
}