* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 955px;

    background-color: rgb(22, 22, 22);
}

ul {
    list-style: none;
    width: 100%;
}

.logo-login {
    display: flex;
    align-items: center;
}

.logo-login img {
    width: 350px;
    margin: -70px -40px;
}

.logo-login div {
    display: flex;
    justify-content: right;
    
    width: 100%;
}

.logo-login a {
    text-decoration: none;
    color: white;
}

.logo-login div li {
    margin-right: 50px;
    padding: 7px 20px;

    
    border-radius: 10px;
    border: lightgrey 1.5px solid;
    font-weight: 600;
    font-size: 18px;
}

.logo-login div li:hover {
    background-color: lightgrey;
    border-radius: 10px;
    color: black;
    transition: all 0.3s ease-in-out;
}

.apresentation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 750px;

    color: white;
}

.apresentation li:first-child {
    font-size: 85px;
    font-weight: bold;
    text-align: center;

    text-shadow: 2px 2px 2px red;
    animation: textHero 2s linear 0s infinite alternate;
}

@keyframes textHero {
    0% {text-shadow: 2px 2px 2px red;}
    50% {text-shadow: 2px 2px 2px yellow;}
    100% {text-shadow: 2px 2px 2px red;}
}

.apresentation li:nth-child(2) {
    font-size: 20px;
}

@media (max-width: 431px) {
    .logo-login img {
        width: 250px;
        margin: -90px -20px;
    }

    .logo-login div {
        margin-top: 30px;
    }

    .apresentation li:first-child {
        font-size: 55px;
    }

    .apresentation li:nth-child(2) {
        font-size: 18px;
    }
}

/* ========================== */

/*      List Explanation      */

/* ========================== */

.list-explanation {
    width: 100%;
    height: auto; 

    display: flex;
    justify-content: center;
    margin: 100px 0px;
}

.grid-boxs {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 0.1fr);
    grid-gap: 20px;
}

.big-box {
    grid-row: 1 / 3;

    width: 800px;
    height: 820px;
    background-color: lightgray;
    border-radius: 12px;
}

.big-box-container {
    background-image: url("./assets/big-box-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.big-box-overlay {
    background-color: rgb(0, 0, 0, 0.75);
    border-radius: 12px;

    width: 100%;
    height: 100%;

    display: grid;
    place-items: center;
}

.big-box-overlay p {
    color: white;
    font-weight: bold;
    font-size: 75px;
    margin-left: 25px;
}

.box {
    width: 40vw;
    max-width: 900px;
    height: 400px;

    display: flex;
    grid-gap: 20px;
}

.inside-box {
    width: 500px;
    height: 400px;
    background-color: lightgray;
    border-radius: 12px;
}

.box1-container {
    background-image: url("./assets/favourite-movies-box.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 12px;

    width: 100%;
    height: 100%;
}

.box2-container {
    background-image: url("./assets/movies-want-to-see-box.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 12px;

    width: 100%;
    height: 100%;
}

.box3-container {
    background-image: url("./assets/rewiend-movies-box.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 12px;

    width: 100%;
    height: 100%;
}

.box4-container {
    background-image: url("./assets/friends-movies-box.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 12px;

    width: 100%;
    height: 100%;
}

.inside-box-overlay {
    background-color: rgb(0, 0, 0, 0.75);
    border-radius: 12px;

    width: 100%;
    height: 100%;

    display: grid;
    place-items: center;
}

.inside-box-overlay p {
    color: white;
    font-weight: bold;
    font-size: 50px;
    margin-left: 25px;
}

@media (max-width: 1440px) {
    .list-explanation {
        width: 100%;
        height: auto; 
    
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    .grid-boxs {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }

    .big-box {
        grid-row: 1 / 3;

        width: 90vw;
        max-width: 900px;
        height: 45vw;
        min-height: 300px;
        background-color: lightgray;
        border-radius: 12px; 
    }

    .box {
        width: 90vw;
        max-width: 900px;
    
        display: flex;
        grid-gap: 20px;
    }
}

@media (max-width: 500px) {
    .big-box {
        max-width: 400px;
        width: 90vw;
    }

    .big-box-overlay p {
        font-size: 65px;
    }

    .box {
        max-width: 400px;
        width: 90vw;
        flex-wrap: wrap;
        margin-bottom: 25px;
    }

    .inside-box {
        height: 200px;
    }

    .inside-box-overlay p {
        font-size: 35px;
    }
}

/* ========================== */

/*        Set Movies          */

/* ========================== */

.set-movie {
    margin: 250px 0px;
    width: 100em;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    grid-gap: 20px;

    overflow: hidden;
}

.movies {
    width: 300px;
    height: 600px;

    background-color: lightgray;
    border: 3px solid rgb(179, 179, 179);
    border-radius: 12px;
    
    overflow: hidden;
}

.inside-movies-round {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: rgba(128, 128, 128, 0.507);
    margin: 10px;

    overflow: hidden;
}

/* ========================== */

/*       See Details          */

/* ========================== */

.see-details {
    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 50px;
    place-items: center;
    
    margin: 250px 0px;
}

.see-details-information {
    margin-bottom: 150px;
    font-weight: bolder;
    font-size: 40px;

    padding-left: 50px; 
}

.details-box {
    width: 300px;
    height: 500px;
    background-color: lightgray;
    border: 3px solid rgb(179, 179, 179);
    border-radius: 12px;
}

.see-details-in-column {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    grid-gap: 150px;
}

.see-details-title h1 {
    font-weight: bolder;
    font-size: 80px;
    padding-bottom: 20px;
}

.see-details-title p {
    font-size: 30px;
}

.see-details-actors h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.actors-boxs {
    display: flex;
}

.box-actors {
    width: 40px;
    height: 40px;
    background-color: lightgray;
    border-radius: 100%;

    margin-right: 5px;
}

@media (min-width: 781px) and (max-width: 1378px ) {
    .see-details {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.1fr 0.1fr;
        grid-gap: 50px;
        place-items: center;
    }
    
    .see-details-information {
        font-size: 35px;

        grid-row: 1 / 1;
        grid-column: 1 / 4;

        padding-left: 50px;
    }

    .details-box, .see-details-in-column, .see-details-actors {
        grid-row: 2 / 2;
    }
    
    .details-box {
        margin-left: 50px;
    }

    .see-details-title h1 {
        font-size: 80px;
    }
    
    .see-details-title p {
        font-size: 30px;
    }
    
}

@media (max-width: 780px) {
    .see-details {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 0.1fr);
        grid-gap: 25px;
        place-items: center;
    }
    
    .see-details-information {
        font-size: 30px;

        grid-row: 1 / 3;
        grid-column: 1 / 1;

        padding-left: 50px;
        margin-top: 100px;
    }

    .details-box {
        grid-row: 3 / 3;
        margin-top: 25px;
        margin-left: -35px;
    } 

    .see-details-in-column, .see-details-actors {
        grid-row: 4 / 4;
    }

    .see-details-title h1 {
        font-size: 55px;
    }
    
    .see-details-title p {
        margin-top: 50px;
        font-size: 55px;
        font-weight: bold;
    }

    .see-details-actors h1 {
        font-size: 40px;
        margin-top: -55px;
    }
}

/* ========================== */

/*        Start Now           */

/* ========================== */

.start-now {
    width: 100%;
    height: 300px;

    margin: 250px 0px;
}

.start-now-container {
    background-image: url("./assets/start-now-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 100%;
}

.start-now-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);

    display: grid;
    place-items: center;
}

.start-now h1 {
    font-size: 30px;
    font-weight: bolder;
    
    padding: 10px 50px;

    background-color: lightgray;
    border-radius: 50px;
}

/* ========================== */

/*          Footer            */

/* ========================== */

footer {
    width: 100%;
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-about {
    font-size: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
}

.footer-content {
    display: flex;
}

.footer-list {
    width: 100%;

    display: flex;
    justify-content: center;
    font-size: 18px;

    margin-left: 50px;
}

.list-1 {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

.list-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: disc;
    grid-gap: 10px;
}

.footer-signup {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    grid-gap: 15px;

    font-size: 20px;
    font-weight: bolder;

    padding-right: 150px;
}

.footer-signup ul {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
}

.footer-signup ul li {
    font-size: 20px;
    font-weight: bolder;
    text-align: left;
}

.footer-signup ul li:first-child {
    background-color: rgb(192, 192, 192);
    padding: 5px 50px;
    border-radius: 20px;

    -webkit-box-shadow: 5px 5px 15px -8px #000000; 
    box-shadow: 5px 5px 15px -8px #000000;
}

.footer-signup ul li:not(:first-child) {
    background-color: rgb(230, 230, 230);
    padding: 5px 50px;
    border-radius: 20px;

    -webkit-box-shadow: 5px 5px 15px -8px #000000; 
    box-shadow: 5px 5px 15px -8px #000000;
}

@media (max-width: 816px) {
    footer {
        width: 100%;
        height: 300px;
    
        display: flex;
        flex-direction: column;
        place-items: center;
    }

    .footer-about {
        font-size: 25px;
        margin-bottom: 25px;
        margin-left: 0px;
    }

    .footer-list {
        display: flex;
        flex-direction: column;
        place-content: center;

        margin-left: 0px;
    }

    .list-1 {
        display: flex;
        place-items: center;
    }

    .list-2 {
        margin: 50px 0px;
        display: flex;
        place-items: center;
    }

    .footer-signup {
        margin-bottom: 50px;
        margin-left: 150px;
    }
}