.menu {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 5px 5px 15px 0px rgb(0, 0, 0, 0.4);

    width: 350px;
    height: 100%;
}

.menu-elements-position {
    margin-left: 15px;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.menu-elements-position a {
    margin: 10px 0px;
    margin-right: 15px;
}

.menu-logo {
    background-color: black;
    border-radius: 8px;

    overflow: hidden;

    width: 95%;
    height: 80px;
}

.menu-logo-container {
    background-image: url("../../assets/logo-white-render.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 305px;

    transform: translateX(-15px);
    transition: transform 0.1s ease-in-out;
    
    width: 100%;
    height: 100%;
}

.menu-logo-container:hover {
    transform: translateX(-10px);
    transition: all 0.1s ease-in-out;
}

.menu-options {
    margin-top: 25px;
    margin-right: 15px;

    display: flex;
    flex-direction: column;

    font-weight: bold;
}

.menu-options p {
    font-size: 16px;
}

.menu-options a {
    color: #111111;
    text-decoration: none;
    border-radius: 8px;
    
    padding: 15px;
}

.menu-options a:hover {
    background-color: rgba(255, 202, 88, 0.8);
    color: white;
}

.menu-options a .menu-boxs p {
    transform: translateX(0px);
    transition: all 0.15s ease-in-out;
}

.menu-options a:hover .menu-boxs p {
    transform: translateX(10px);
    transition: all 0.15s ease-in-out;
}

.menu-logout {
    display: flex;
    align-items: flex-end;

    margin-bottom: 20px;

    width: 90%;
    height: 100%;
}

.menu-logout-position {
    width: 100%;
    margin-right: 10px;
}

.logout-button {
    background-color: #F73859;
    
    width: 100%;
    height: 55px;
    border-radius: 12px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-logout-position a {
    text-decoration: none;
}

.logout-button:hover {
    background-color: #ED2E4E;

    transition: all 0.2s ease-in-out;
}

.logout-button .menu-boxs p {
    color: white;
    font-weight: bold;
    font-size: 16px;

    margin-left: 20px;
}

.menu-boxs {
    display: flex;
    align-items: center;
    grid-gap: 15px;
}

.icon {
    font-size: 16px;
}

.logout-icon {
    width: 20px;
    height: 20px;
}

.icon-container {
    background-image: url("../../assets/logout-icon.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: 100%;
    height: 100%;

    margin-left: 15px;
}

@media (max-width: 1353px) {
    .menu { 
        width: 100px;
    }

    .menu-logo {
        width: 65px;
    }

    .menu-elements-position a {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .menu-logo-container {
        background-size: 400px;
        background-position: -55px center;
    
        transform: translateX(-5px);

    }

    .menu-elements-position {
        margin-left: 0px;
    }
    
    .menu-options a {
        color: black;
        text-decoration: none;
        border-radius: 8px;
        
        padding: 10px;
        margin-left: 5px;
    }

    .menu-boxs {
        justify-content: center;
    }

    .menu-boxs p {
        display: none;
    }

    .icon {
        font-size: 25px;
    }

    .menu-logout {
        display: flex;
        align-items: flex-end;
        justify-content: center;

        margin-bottom: 20px;

        width: 100%;
        height: 100%;
    }

    .menu-logout-position {
        margin-left: 10px;
    }

    .logout-button {     
        width: 100%;
        height: 45px;
        border-radius: 6px;
    
        margin-right: 0px;
        padding-right: 15px;
    
        display: flex;
        align-items: center;
    }

    .logout-icon {
        width: 35px;
        height: 35px;
    }
}