* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 5px 5px 15px 0px rgb(0, 0, 0, 0.4);

    width: 280px;
    height: 100%;
}

@media (max-width: 1353px) {
    .menu { 
        width: 100px;
    }
}

.lists-background {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    box-shadow: 5px 5px 15px 0px rgb(0, 0, 0, 0.4);

    width: 50%;
    min-width: 825px;
    height: 95%;

    margin-right: 50px;
}

.list-content:first-child {
    margin-top: 35px;
}

.list-content {
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 12px;
    box-shadow: 5px 5px 15px 0px rgb(0, 0, 0, 0.4);

    width: 90%;
    min-width: 750px;
    min-height: 150px;
    height: 41.5vh;
    max-height: 300px;

    margin-top: 12px;
    margin-left: 35px;

    transition: all 0.1s ease-in-out;
}

.list-content:hover {
    background-color: rgba(255, 255, 255, 0.557);
    transition: all 0.1s ease-in-out;
}

.list-content:hover .list-flex {
    margin-left: 20px;
    transition: all 0.1s ease-in-out;
}

.list-column {
    display: flex;
    flex-direction: column;
    gap: 15px;

    padding-top: 30px;
    margin-left: 35px;
}

.list-column h1 {
    font-size: 38px;
    color: #1A202C;
}

.list-flex {
    display: flex;
    gap: 10px;

    margin-left: 10px;
    margin-right: 15px;
    margin-bottom: 15px;
    transition: all 0.1s ease-in-out;
}

.list1-film {
    width: 90px;
    height: 125px;
}

.list-film-containers-all {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    border-radius: 12px;
    border:  4.5px solid rgba(175, 133, 26, 0.67);

    width: 100%;
    height: 100%;
}

.list-film-container1 {
    background-image: url("../../../assets/movie1.jpg");
}

.list-film-container2 {
    background-image: url("../../../assets/movie2.jpg");
}

.list-film-container3 {
    background-image: url("../../../assets/movie3.jpg");
}

.list-film-container4 {
    background-image: url("../../../assets/movie4.jpg");
}

.list-film-container5 {
    background-image: url("../../../assets/movie1.jpg");
}

.list2-film-container1 {
    background-image: url("../../../assets/movie2.jpg");
}

.list2-film-container2 {
    background-image: url("../../../assets/movie4.jpg");
}

@media (max-width: 986px) {
    .lists-background {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 12px;
        box-shadow: 5px 5px 15px 0px rgb(0, 0, 0, 0.4);
    
        width: 90%;
        min-width: 370px;
        height: 95%;
    
        margin-right: 25px;
    }

    .list-content {
        background-color: rgba(255, 255, 255, 0.479);
        border-radius: 12px;
        box-shadow: 5px 5px 15px 0px rgb(0, 0, 0, 0.4);
    
        width: 85%;
        min-width: 50px;

        overflow: hidden;
    
        margin-top: 12px;
        margin-left: 35px;
    
        transition: all 0.1s ease-in-out;
    }

    .list-flex {
        display: flex;
        gap: 10px;

        padding: 0px 15px;
        overflow: hidden;
    
        margin-left: 10px;
        margin-right: 25px;
        margin-bottom: 15px;
        transition: all 0.1s ease-in-out;
    }

    .list1-film-containers-all {
        width: 100px;
        height: 150px;
    }
}